<app-navbar></app-navbar>

<ion-content [fullscreen]="true" class="ion-margin-top">

    <div class="ion-margin-top chart">
        <!-- (chartClick)="onChartClick($event) -->
        <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true"></canvas>
    </div>

    <ion-list class="ion-margin-top">
        <ion-list-header>
            <ion-label>Producto</ion-label>
            <ion-label>Stock</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
    </ion-list>

</ion-content>