<app-navbar></app-navbar>

<ion-content [fullscreen]="true">

    <br>
    <ion-row>
        <ion-col size="6">
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <!-- <ion-img [src]="image"></ion-img> -->
                    <img src="../../../assets/icon/favicon.png" alt="">
                </ion-card-header>

                <ion-card-content>

                    <ion-card-title class="ion-margin-bottom">Title</ion-card-title>

                    Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>